<tr>
  <td><%= plant.name %></td>
  <td><%= plant.description %></td>
  <td><%= plant.picture %></td>
  <td><%= link_to 'Show', plant %></td>
  <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
  <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>