<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'plants/plant', collection: @plants, cached: true %>
    <!--<% @plants.each do |plant| %>-->
      <!--<% cache plant do %>-->
        <!--<tr>-->
          <!--<td><%= plant.name %></td>-->
          <!--<td><%= plant.description %></td>-->
          <!--<td><%= plant.picture %></td>-->
          <!--<td><%= link_to 'Show', plant %></td>-->
          <!--<td><%= link_to 'Edit', edit_plant_path(plant) %></td>-->
          <!--<td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <!--</tr>-->
      <!--<% end %>-->
    <!--<% end %>-->
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
